{
  "presets": [
    "umi/babel"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "services": "./src/services",
          "models": "./src/models",
          "themes": "./src/themes"
        }
      }
    ]
  ]
}
